*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
:root {
  --main-padding: 16px;
  --main-margin: 24px;
  --nav-height: 60px;
  --speedometer-rotare: 0deg;
  --circle: 0;
  --stroke-color: rgb(57, 177, 20);
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
canvas {
  display: none;
}

.wrapper {
  height: 100vh;
}

main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 95%;
  margin: 0 auto;
  padding: var(--main-padding);
  max-height: calc(100vh - 80px);
}

/* navbar section */
.navbar {
  position: relative;
  width: 100%;
  z-index: 5;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  background: #43aa8b;
  height: 70px;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: rgba(31, 29, 29, 0.699);
  font-size: 26px;
  font-weight: 500;
  margin-left: 15px;
  margin-right: 15px;
  transition: color 0.3 ease;
}

.navbar li a:hover {
  color: #277da1;
  transform: scale(1.1);
}

.menu-button {
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.menu-button1::first-line {
  color: #277da1;
}

.navbar img {
  width: 70px;
  cursor: pointer;
}

/*styling main chart*/
.main-chart-wrapper {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.budget-title {
  display: flex;
  align-items: center;
}

.title {
  font-size: 32px;
  margin-left: var(--main-margin);
}
.image-wrapper {
  width: 60px;
  height: 60px;
}
.most-spending > h3 {
  display: none;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
}
.main-chart {
  width: 100%;
  height: 300px;
  background-color: #ddd;
}
body {
  background: #eeeff0;
}
.category-wrapper {
  display: flex;
  margin-top: var(--main-margin);
}
.category {
  margin-right: calc(var(--main-margin) * 2);
}
.spending-by-categories {
  width: 30%;
}
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-amount {
  color: #000;
  font-size: 12px;
}
.category-name {
  text-transform: capitalize;
  font-size: 12px;
}
.no-category {
  color: red;
}
/*3 column*/
.additional-charts {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}
.select-mounth {
  text-align: center;
}

.ratio-spending-income {
  position: relative;
}
.ratio-spending-container {
  display: none;
}
.spending-percent {
  z-index: 2;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.spedometer-desc {
  display: none;
  text-align: center;
  width: 250px;
  margin: var(--main-margin) auto 0 auto;
}
select {
  cursor: pointer;
  border: none;
  text-align: center;
  padding: 4px 5px;
  box-shadow: 2px 2px 6px 3px #ddd;
  border-radius: 10px;
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  background-color: rgb(232, 230, 230);
}
option {
  cursor: pointer;
}
select:focus {
  outline: none;
}
/*speedometer */
.speedometer-dial {
  position: relative;
  margin: 0 auto;
  width: 300px;
}
.speedometer-dial img {
  height: 100%;
  width: 100%;
}
.speedometer-arrow {
  position: absolute;
  width: 150px;
  left: 58%;
  bottom: -20px;
  transform-origin: 85% 50%;
  transform: translate(-100%, 0) rotate(0deg);
  animation: moveHand 1s ease-out forwards;
}
@keyframes moveHand {
  100% {
    transform: translate(-100%, 0) rotate(var(--speedometer-rotare));
  }
}
.speedometer-arrow img {
  width: 100%;
  height: 100%;
}
/* styling description rest money*/
.rest-money-wrapper {
  /* change */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  display: none;
}
.rest-money-description {
  margin-left: calc(var(--main-margin) * -2);
}
.chart-limit {
  width: 50%;
}
/*styline ring chart*/
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}
.desc-text {
  font-size: 16px;
  font-weight: 600;
}
#limit-amount,
#rest-amount {
  display: block;
  text-align: center;
  font-size: 15px;
  padding-bottom: 5px;
  color: #b84a4a;
}
.single-chart {
  width: 33%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #dae6ed;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  stroke: var(--stroke-color);
}

@keyframes progress {
  100% {
    stroke-dasharray: var(--circle) 100;
  }
}
.change-limit {
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
textarea:focus,
input:focus {
  outline: none;
  width: auto;
}

.percentage {
  fill: #666;
  font-size: 0.5em;
  text-anchor: middle;
}
.loader {
  color: #90be6d;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* RESPONSIVE  */
@media (max-width: 1200px) {
  main {
    flex-direction: column;
  }
  .rest-money-description {
    margin-left: 0;
    justify-content: space-around;
  }
  .rest-money-wrapper {
    justify-content: space-around;
  }
  .select-mounth {
    margin: 0 auto;
    padding: var(--main-margin);
  }
}
@media (max-width: 600px) {
  .rest-money-wrapper {
    flex-direction: column;
  }
}
