/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

/* all elements declaration */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

/* website scroll method */
html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  height: 100vh;
  width: 100%;
  background: repeating-linear-gradient(90deg, #8e9feca6, #fff);
  display: flex;
  flex-direction: row;
  flex-direction: column;
}

/* content styling */
section {
  padding: 100px 0;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.about .about-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.navbar img {
  width: 60px;
  cursor: pointer;
}

/* navbar section */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 8px 0;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  background: repeating-linear-gradient(120deg, #ffffff, #8e9feca6, #ffffff);
}

.navbar.sticky {
  padding: 15px 0;
  background: repeating-linear-gradient(
    120deg,
    #ffffffd3,
    #b1ecf0d5,
    #c7f5edd0
  );
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: rgba(31, 29, 29, 0.699);
  font-size: 20px;
  font-weight: 500;
  margin-left: 15px;
  margin-right: 15px;
  transition: color 0.3 ease;
}

.navbar li a:hover {
  color: rgb(67, 65, 236);
  font-size: 21px;
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* menu button styling */
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: slateblue;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  right: 15px;
  bottom: 15px;
  height: 38px;
  width: 35px;
  font-size: 23px;
  line-height: 38px;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  filter: brightness(90%);
}

.menu-button {
  color: slateblue;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.menu-button1::first-line {
  color: rgb(67, 65, 236);
}

.menu-button1:hover::first-line {
  color: white;
}

/* TODO - navbar podkreslenie buttona */
/* ul {
    border-radius: 8px;
}

ul .animation{
    position: absolute;
    height: 5px;
    bottom: 0;
    z-index: 0;
    background: white;
    border-radius: 8px;
    transition: all .5s ease 0;
}
a:nth-child(1){
    width: 110px;
}
ul .start-aplikacja,a:nth-child(1):hover~.animation{
    width: 110px;
    left: 838px;
}
a:nth-child(2){
    width: 100px;
}
ul .start-about,a:nth-child(2):hover~.animation{
    width: 100px;
    left: 1000px;
}
a:nth-child(3){
    width: 110px;
}
ul .start-załóż,a:nth-child(3):hover~.animation{
    width: 110px;
    left: 1100px;
}
a:nth-child(4){
    width: 110px;
}
ul .start-kontakt,a:nth-child(4):hover~.animation{
    width: 100px;
    left: 1200px;
} */

/* home styling section */
.home .max-width {
  margin: auto 0 auto 30px;
}

.home .home-content .common-btn {
  margin: 30px;
  padding: 18px 40px;
  font-size: 15px;
  background: transparent;
  outline: none;
  border: 2px solid #6c579ec5;
  background-color: #6580bba4;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.home .home-content .common-btn a {
  text-decoration: none;
  color: #000;
}

.home .home-content .common-btn:hover a {
  color: rgb(239, 241, 250);
}

.home-content {
  width: 100%;
  height: 600px;
  line-height: 22px;
}

.home .home-content .text-1 {
  margin-top: 100px;
  font-size: 30px;
  max-width: 600px;
  line-height: initial;
}

.home .home-content .text-2 {
  padding-top: 15px;
}

.home .home-content img {
  height: 500px;
  float: right;
}

/* about */

.teams .carousel .card {
  background: #222;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.teams .carousel .card:hover {
  background-color: crimson;
}
.teams .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.teams .carousel .card:hover .box {
  transform: scale(1.05);
}
.teams .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.teams .carousel .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid crimson;
  transition: all 0.3s ease;
}
.teams .carousel .card:hover img {
  border-color: #fff;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid crimson !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: crimson !important;
}

/* contact styling section */

.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row .icons {
  margin-left: 30px;
}

.contact .contact-content .row i {
  font-size: 25px;
  color: slateblue;
}

.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info .sub-title {
  color: #333;
}

.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .textarea {
  height: 80px;
  width: 100%;
}

.contact .right form .email {
  margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightcyan;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
  background-color: #e9ecf3;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: lightgray;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

.contact .right form .button {
  height: 50px;
  width: 170px;
}

.contact .right form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid#6c579ec5;
  background-color: #6580bba4;
  color: #000;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact .right form .button button:hover {
  color: rgb(239, 241, 250);
}

.contact img {
  height: 300px;
  float: right;
  margin-block: -170px;
}

/*----footer----*/
#footer {
  padding: 50px 0 30px;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #f67c92c5;
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left-col {
  flex-basis: 60%;
  margin-top: 20px;
}

.footer-right-col {
  flex-basis: 35%;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.link-title h4, 
.social-icons h4 {
  color: #f67c92c5;
  margin-bottom: 20px;
}

.link-title small {
  font-size: 13px;
}

.footer-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo img {
  height: 45px;
  width: 50px;
}

.copyright-text,
.footer-logo {
  flex-basis: 20%;
  line-height: 25px;
}

.social-icons {
  flex-basis: 20%;
  display: flex;
  flex-direction: column; 
}

span {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.social-icons img {
  width: 20px;
  margin: 10px auto;
  cursor: pointer;
}

/* responsive media query */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .menu-button {
    display: block;
    z-index: 999;
  }
  .menu-button i.active:before {
    content: "\f00d";
  }
}

@media (max-width: 947px) {
  .menu-button1 {
    display: block;
    z-index: 999;
  }
  .menu-button i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-1 {
    font-size: 70px;
  }
  .home .home-content .text-2 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-1 {
    font-size: 60px;
  }
  .home .home-content .text-2 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-1 {
    font-size: 50px;
  }
  .home .home-content .text-2 {
    font-size: 27px;
  }
  .about .about-content .right /*.left */ .text {
    font-size: 19px;
  }
  .contact .right form .fields {
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
#footer{
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-left-col{
  flex-basis: 100%;
}
.footer-right-col{
  flex-basis: 100%;
}
.footer h4{
  padding-top: 8px;
}
}